<?xml version="1.0"?>

<robot name="solo8" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="solo8_leg_gazebo" params="name">

        <gazebo reference="${name}_FOOT">
            <mu1 value="50.0"/>
            <mu2 value="50.0"/>
            <kp value="10000000.0" />
            <kd value="1.0" />
            <minDepth value="0.005"/>
            <maxContacts>1</maxContacts>
        </gazebo>

    </xacro:macro>

</robot>